<footer>

	</div>

	<div class"footer-contacts">

			<span class="fas fa-map-marker-alt"></span>

			<p>Lisbon, Portugal</p>

			<span class="fas fa-mobile-alt"></span>

			<p>+351 912 461 224</p>

			<span class="far fa-envelope"></span>

			<p><a href="mailto:te.mestre@gmail.com">te.mestre@gmail.com</a></p>

			<p class="copywrite"> temestre @ 2020 </p>

		</div>

	</div>

		<div class="footer-about">

		<h3>About me</h3>

		<p>Wanna know more? You're sure?</p>
		<p>Ok then! So follow me at</p>

		{%- include mysocial.html -%}

	</div>

</footer>







