<header class="site-header" role="banner">
    
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}
    
    <nav id="navbar" role="mobile-navigation">

      <div id="menu-toggle">
        <input id="mobile_menu_toggle" type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>

      {% include nav.html %}

    </div>

    <div class="social">

      {%- include mysocial.html -%}

    </div>
      
    </nav>
    
    {%- endif -%}

</header>
