<header class="navbar-container" role="banner">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}


    <nav id="navbar" role="navigation">

        <div id="menu-toggle">
        
        <input id="menu_toggle" type="checkbox"/>
       
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>

        {% include nav.html %}
      
    </nav>

    {%- endif -%}


</header>
