/* HOME PAGE */

.work-gallery {
  margin: 5% 10% 0 10%;

    img {
      width: 10rem;
      height: 10rem;
      display: grid;
      overflow-x: auto;
      grid-template-areas: 
      'figure figure figure';
      grid-gap: 1rem;
    }
}

/* END HOME PAGE */
