---
---
* {
    margin: 0;
    padding: 0;
}

body {
  	background-color: white;
  	color: purple;
  	font-family: 'Montserrat', sans-serif;
}

/* image header/nav bar*/

.site-header {
    width: 100vw;
    height: 70px;
    z-index: 3;
    display: block;
    background-color: #edeffa;
    margin-top: 0;
}

#navbar {
    width: 100%;
    height: 100vh;
    top: 0;
    position: sticky;
    display: flex;
}

#menu-toggle {
    width: 100%;
    top: 25px;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    display: block;
    -webkit-user-select: none;
    user-select: none;
}

#menu-toggle a {
    transition: color 0.3s ease;
}

#menu-toggle a:active {
    -webkit-text-stroke: 0px;
    -webkit-text-fill-color: #F9F9F8;
    color: #F9F9F8;
}

#menu-toggle input {
    width: 40px;
    height: 32px;
    top: -7px;
    left: 15px;
    position: absolute;
    z-index: 2;
    display: block;
    opacity: 0;
    cursor: pointer;
    -webkit-touch-callout: none;
}

#menu-toggle span {
    width: 34px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    display: block;
    background: purple;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menu-toggle span:first-child {
    transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menu-toggle input:checked ~ span {
    opacity: 1;
    background: #F9F9F8;
    transform: rotate(45deg) translate(-2px, -1px);
}

#menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    width: 100%;
    height: 100%;
    margin: -130px 0 0 -20px;
    padding-top: 230px;
    position: absolute;
    background: #121212;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 25px 0;
  	font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    -webkit-text-stroke: 1px;
    list-style-type: none;
    text-align: center;
}

#menu-toggle input:checked ~ ul {
    transform: none;
}




.page-content {
	position: relative;
	margin-top: 100px;
}







.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
  z-index: 3;
}

li {
	list-style-type: none;
}

.page-content {
  margin-top: 100px;
}


/* slideshow */

.slideshow-container {
  width: 320px;
  position: relative;
  margin: 0 auto;
}

.slideshow-container .img-slideshow {
  width: 320px;
  height: auto;
  object-fit: cover;
  position: absolute;
  animation: animafade 30s infinite;
  opacity: 0;
}

@keyframes animafade {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.slideshow-container img:nth-child(7) {
  animation-delay: 0s;
}
.slideshow-container img:nth-child(6) {
  animation-delay: 5s;
}
.slideshow-container img:nth-child(5) {
  animation-delay: 10s;
}
.slideshow-container img:nth-child(4) {
  animation-delay: 15s;
}
.slideshow-container img:nth-child(3) {
  animation-delay: 20s;
}
.slideshow-container img:nth-child(2) {
  animation-delay: 25s;
}
.slideshow-container img:nth-child(1) {
  animation-delay: 30s;
}

/* homepage quote + banner */



/* homepage portfolio image overlay desktop

.slider {
  position: relative;
  width: 50%;
}

.slider-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5E1BAF;
}

.slider:hover .overlay {
  opacity: 1;
}

.work-title {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

*/

/* homepage portfolio image slider mobile */

.work-gallery {
  width: auto;
  height: auto;
  display: flex;
  overflow-x: auto;
}

.slider-image {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}

/* https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/*/



/* footer distributed */



footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #edeffa;
	box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 	position: relative;
	bottom: 0;
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .site-nav{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .site-nav a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-about{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center span{
	background-color: #edeffa;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center span.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #edeffa;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 5000px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center span{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
















