---
layout: default
banner: slideshow
---

<section class="quote">

  <p class="quote">This web page is either the example of total quarentine coding success and that I have the tiniest chance of succeed in the world of front-end development, OR, that I should dedicate my time to knitting.</p>

  <button class="secondary-btn">

    <a href="/projeto/about">About me</a>

  </button>

</section>

<h2>Portfolio</h2>

<section class="work-gallery">
  
  {% for image in site.works limit:3 %}

  <figure class="slider">
      
      <a href="{{ site.baseurl }}/works/{{ image.slug }}">
      
      <img class="slider-image" src="{{ site.baseurl }}/images/portfolio/{{ image.image }}" alt="{{ image.title }}"/>

      <div class="overlay">

        <figcaption class="work-title">{{image.title}}</figcaption>

      </div>
      
      </a>

    </figure>
  
    {% endfor %}

</section>

<button class="secondary-btn">

  <a href="/projeto/portfolio">All work</a>

</button>
