---
layout: default
---

		<section class="quote">

			<p class="quote">Find a good "quote" to place here!</p>

			<button>Bio</button>

		</section>

		<section class="works_preview">

			<h2 class="section-title">Works</h2>

			<article class="container1">  <!-- https://www.w3schools.com/tags/tag_article.asp // https://www.w3schools.com/howto/howto_css_image_overlay.asp-->

          <figure>

  				  <img src="link / caminho da imagem" alt="nome do trabalho" style="width:100%" class="work-img">
  			
  					<div class="overlay">

    					<figcaption class="work-title">Hello World</h3>

  					</div>

          </figure>

			</article>

			<article class="container2">

  				<figure>

            <img src="link / caminho da imagem" alt="nome do trabalho" style="width:100%" class="work-img">
        
            <div class="overlay">

              <figcaption class="work-title">Hello World</h3>

            </div>

          </figure>

			</article>

			<article class="container3">

  				<figure>

            <img src="link / caminho da imagem" alt="nome do trabalho" style="width:100%" class="work-img">
        
            <div class="overlay">

              <figcaption class="work-title">Hello World</h3>

            </div>

          </figure>

			</article>

			<button>All work</button>
