---
layout: default
banner: slideshow
---
        {%- include slideshow.html -%}  

<section class="quote">

  <p class="quote">This web page is either the example of total quarentine coding success and that I have the tiniest chance of succeed in the world of front-end development, OR, that I should dedicate my time to knitting.</p>

  <button>

    <a href="/projeto/about">About me</a>

  </button>

<section class="work-gallery">
  
  {% for image in site.works limit:3 %}

    <figure>
      
      <a href="{{ site.baseurl }}/works/{{ image.slug }}">
      
      <img src="{{ site.baseurl }}/images/portfolio/{{ image.image }}" alt="{{ image.title }}"/>

      <div class="overlay">

        <figcaption class="work-title">{{image.title}}</figcaption>

      </div>
      
      </a>

    </figure>
  
  {% endfor %}

</section>

<button>

  <a href="/projeto/portfolio">All work</a>

</button>
