---
layout: default
---

<h2>Portfolio</h2>

<ul class="work-gallery">
  
  {% for image in site.works %}
    
    <li>

      <figure>
      
        <a href="{{ site.baseurl }}/works/{{ image.slug }}">
      
        <img src="{{ site.baseurl }}/images/portfolio/{{ image.image }}" alt="{{ image.title }}"/>

        <div class="overlay">

          <figcaption class="work-title">{{image.title}}</figcaption>

        </div>
      
        </a>
    
    </li>
  
  {% endfor %}

</ul>

{{content}}