---
layout: default
---

<section class="work-gallery">

  <h1 class="section-title">Portfolio</h1>
  
  {% for image in site.works %}

    <figure class="slider">
      
      <a href="{{ site.baseurl }}/works/{{ image.slug }}">
      
      <img class="slider-image" src="{{ site.baseurl }}/images/portfolio/{{ image.image }}" alt="{{ image.title }}"/>

      <div class="overlay">

        <figcaption class="work-title">{{image.title}}</figcaption>

      </div>
      
      </a>

    </figure>
  
  {% endfor %}

</section>

{{content}}